
.html, body{
    height: 100%;
    background-color: orange;
    margin-top: 500px;
    margin-left: 900px;
}
.first{
    gap: 25px;
    margin-top: 40px;
    width: 50%;
    display: flex;
}
.green{
    height: 80px;
    background-color: green;
    flex: 2;
}
.orange{
    flex: 1;
    background-color: rgb(255, 102, 0);
}
.white{
    height: 50px;
    flex: 1;
    background-color: rgb(100, 94, 94);

}
.second{
    margin-top: 40px;
    gap: 25px;
    width: 50%;
    display: flex;
}
.purple{
    height: 40px;
    flex: 1;
    background-color: purple;
}
.yellow{
    height: 40px;
    flex: 1;
    background-color: yellow;
}
.bluish{
    height: 40px;
    flex: 1;
    background-color: rgb(150, 10, 250);
}
.brown{
    flex: 1;
    height: 50px;
    background-color: rgb(50, 2, 2);
}
.third{
    margin-top: 40px;
    display: flex;
    width: 50%;
    gap: 25px;
}
.grey{
    background-color: greenyellow;
    height: 60px;
    flex: 1;

}
.pink{
    background-color: plum;
    flex: 3;
    height: 60px; 
}
